*{
    margin: 0;
    padding: 0;
    font-family: sans-sherif;
}

body{
 background-image: url(backround.jpeg);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
}
