*{
    margin: 0;
    padding: 0;
    font-family: sans-sherif;
}
.banner{
    width: 100%;
    width: 100vh;
    background-image: url(https://nathmas.github.io/backround.jpeg);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
}
